.information__percent {
    padding: 0;
    max-width: 265px;
    height: 202px;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    display: flex;
    align-self: flex-end;
}

@media screen and (max-width: 681px) {
    .information__percent {
        align-self: center;
    }
}
