@import url(./blocks/page/page.css);
@import url(./blocks/page/__wrapper/page__wrapper.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__block/header__block.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/header/__menu-container/header__menu-container.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu-link/header__menu-link.css);
@import url(./blocks/header/__buttom-block/header__buttom-block.css);
@import url(./blocks/request/request.css);
@import url(./blocks/request/__text/request__text.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__text/login__text.css);
@import url(./blocks/login/__arrow/login__arrow.css);
@import url(./blocks/login/__arrow/_buttom/login__arrow_buttom.css);
@import url(./blocks/language-selector/language-selector.css);
@import url(./blocks/language-selector/__text/language-selector__text.css);
@import url(./blocks/first-frame/first-frame.css);
@import url(./blocks/first-frame/__image/first-frame__image.css);
@import url(./blocks/first-frame/__title/first-frame__title.css);
@import url(./blocks/first-frame/__text/first-frame__text.css);
@import url(./blocks/first-frame/__plan/first-frame__plan.css);
@import url(./blocks/first-frame/__plan-list/first-frame__plan-list.css);
@import url(./blocks/first-frame/__plan-find/first-frame__plan-find.css);
@import url(./blocks/choice/choice.css);
@import url(./blocks/choice-conteiner/choice-conteiner.css);
@import url(./blocks/choice-conteiner/__list/choice-conteiner__list.css);
@import url(./blocks/choice-conteiner/__image/choice-conteiner__image.css);
@import url(./blocks/choice-conteiner/__block/choice-conteiner__block.css);
@import url(./blocks/choice-conteiner/__title/choice-conteiner__title.css);
@import url(./blocks/choice-conteiner/__text/choice-conteiner__text.css);
@import url(./blocks/chart/chart.css);
@import url(./blocks/information/information.css);
@import url(./blocks/information/__figure/information__figure.css);
@import url(./blocks/information/__caption/information__caption.css);
@import url(./blocks/information/__title/information__title.css);
@import url(./blocks/information/__text/information__text.css);
@import url(./blocks/information/__plan/information__plan.css);
@import url(./blocks/information/__plan-text/information__plan-text.css);
@import url(./blocks/information-block/information-block.css);
@import url(./blocks/information/__section/information__section.css);
@import url(./blocks/information/__line/information__line.css);
@import url(./blocks/information/__percent/information__percent.css);
@import url(./blocks/information/__number/information__number.css);
@import url(./blocks/information/__would/information__would.css);
@import url(./blocks/information/__diagrams/information__diagrams.css);
@import url(./blocks/information/__diagram-one/information__diagram-one.css);
@import url(./blocks/information/__maney/information__maney.css);
@import url(./blocks/information/__diagram-first/information__diagram-first.css);
@import url(./blocks/information/__would-text/information__would-text.css);
@import url(./blocks/information/__diagram-two/information__diagram-two.css);
@import url(./blocks/information/__diagram-second/information__diagram-second.css);
@import url(./blocks/information/__rages/information__rages.css);

.benefits {
    max-width: 1440px;
    min-height: 640px;
    display: flex;
}

.benefit {
    max-width: 705px;
    min-height: 640px;
    background: #E3EEED;
}

.benefit__title {
    min-height: 42px;
    top: calc(50% - 42px/2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 131%;
    color: #214E41;
}

.benefit__text {
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 131%;
    color: #43806C;
}

.moderate {
    max-width: 735px;
    min-height: 640px;
    background: #214E41;
}

.moderate__text {
    height: 136px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.02px;
    color: #FFFFFF;

}