@import url(./blocks/page/page.css);
@import url(./blocks/page/__wrapper/page__wrapper.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__block/header__block.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/header/__menu-container/header__menu-container.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu-link/header__menu-link.css);
@import url(./blocks/header/__buttom-block/header__buttom-block.css);
@import url(./blocks/request/request.css);
@import url(./blocks/request/__text/request__text.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__text/login__text.css);
@import url(./blocks/login/__arrow/login__arrow.css);
@import url(./blocks/login/__arrow/_buttom/login__arrow_buttom.css);
@import url(./blocks/language-selector/language-selector.css);
@import url(./blocks/language-selector/__text/language-selector__text.css);
@import url(./blocks/first-frame/first-frame.css);
@import url(./blocks/first-frame/__image/first-frame__image.css);
@import url(./blocks/first-frame/__title/first-frame__title.css);
@import url(./blocks/first-frame/__text/first-frame__text.css);
@import url(./blocks/first-frame/__plan/first-frame__plan.css);
@import url(./blocks/first-frame/__plan-list/first-frame__plan-list.css);
@import url(./blocks/first-frame/__plan-find/first-frame__plan-find.css);
@import url(./blocks/choice/choice.css);
@import url(./blocks/choice-conteiner/choice-conteiner.css);
@import url(./blocks/choice-conteiner/__list/choice-conteiner__list.css);
@import url(./blocks/choice-conteiner/__image/choice-conteiner__image.css);
@import url(./blocks/choice-conteiner/__block/choice-conteiner__block.css);
@import url(./blocks/choice-conteiner/__title/choice-conteiner__title.css);
@import url(./blocks/choice-conteiner/__text/choice-conteiner__text.css);

.chart {
    width: 1200px;
    height: 432px;
    padding: 100px 0 120px 0;
    margin: 0 120px;
}

.information {
    width: 510px;
    height: 358px;
    margin: 0;
    padding: 0;
}

.information__figure {
    margin: 0;
    padding: 0;
}

.information__caption {
    height: 20px;
    width: 95px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.information__title {
    margin: 0;
    padding: 0;
}

.information__text {
    margin: 0;
    padding: 0;
}

.information__plan {
    margin: 0;
    padding: 0;
}