@import url(./blocks/page/page.css);
@import url(./blocks/page/__wrapper/page__wrapper.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__block/header__block.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/header/__menu-container/header__menu-container.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu-link/header__menu-link.css);
@import url(./blocks/header/__buttom-block/header__buttom-block.css);
@import url(./blocks/request/request.css);
@import url(./blocks/request/__text/request__text.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__text/login__text.css);
@import url(./blocks/login/__arrow/login__arrow.css);
@import url(./blocks/login/__arrow/_buttom/login__arrow_buttom.css);
@import url(./blocks/language-selector/language-selector.css);
@import url(./blocks/language-selector/__text/language-selector__text.css);
@import url(./blocks/first-frame/first-frame.css);
@import url(./blocks/first-frame/__image/first-frame__image.css);
@import url(./blocks/first-frame/__title/first-frame__title.css);
@import url(./blocks/first-frame/__text/first-frame__text.css);
@import url(./blocks/first-frame/__plan/first-frame__plan.css);
@import url(./blocks/first-frame/__plan-list/first-frame__plan-list.css);
@import url(./blocks/first-frame/__plan-find/first-frame__plan-find.css);
@import url(./blocks/choice/choice.css);
@import url(./blocks/choice-conteiner/choice-conteiner.css);
@import url(./blocks/choice-conteiner/__list/choice-conteiner__list.css);
@import url(./blocks/choice-conteiner/__image/choice-conteiner__image.css);
@import url(./blocks/choice-conteiner/__block/choice-conteiner__block.css);
@import url(./blocks/choice-conteiner/__title/choice-conteiner__title.css);
@import url(./blocks/choice-conteiner/__text/choice-conteiner__text.css);
@import url(./blocks/chart/chart.css);
@import url(./blocks/information/information.css);
@import url(./blocks/information/__figure/information__figure.css);
@import url(./blocks/information/__caption/information__caption.css);
@import url(./blocks/information/__title/information__title.css);
@import url(./blocks/information/__text/information__text.css);
@import url(./blocks/information/__plan/information__plan.css);
@import url(./blocks/information/__plan-text/information__plan-text.css);
@import url(./blocks/information-block/information-block.css);
@import url(./blocks/information/__section/information__section.css);
@import url(./blocks/information/__line/information__line.css);
@import url(./blocks/information/__percent/information__percent.css);
@import url(./blocks/information/__number/information__number.css);
@import url(./blocks/information/__would/information__would.css);
@import url(./blocks/information/__diagrams/information__diagrams.css);
@import url(./blocks/information/__diagram-one/information__diagram-one.css);
@import url(./blocks/information/__maney/information__maney.css);
@import url(./blocks/information/__diagram-first/information__diagram-first.css);
@import url(./blocks/information/__would-text/information__would-text.css);
@import url(./blocks/information/__diagram-two/information__diagram-two.css);
@import url(./blocks/information/__diagram-second/information__diagram-second.css);
@import url(./blocks/information/__rages/information__rages.css);

.benefits {
    max-width: 1440px;
    min-height: 640px;
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 927px) {
    .benefits {
        min-height: 340px;
    }
}

@media screen and (max-width: 455px) {
    .benefits {
        flex-direction: column;
    }
}

.benefit {
    max-width: 705px;
    /* min-height: 640px; */
    background: #E3EEED;
    margin: 0;
    padding: 120px 0 120px 120px;
}

@media screen and (max-width: 927px) {
    .benefit {
        padding: 35px;
    }
}

.benefit__title {
    min-height: 42px;
    top: calc(50% - 42px/2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 131%;
    color: #214E41;
    margin: 30px 0 0 0;
}

@media screen and (max-width: 927px) {
    .benefit__title {
        font-size: 25px;
        line-height: 125%;
        margin-top: 15px;
    }
}

@media screen and (max-width: 657px) {
    .benefit__title {
        font-size: 20px;
    }
}

.benefit__text {
    min-height: 42px;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 174%;
    color: #43806C;
    margin: 6px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 927px) {
    .benefit__text {
        font-size: 24px;
        line-height: 135%;
    }
}

.moderate {
    max-width: 735px;
    /* min-height: 640px; */
    background: #214E41;
    padding: 164px 0;
}

@media screen and (max-width: 927px) {
    .moderate {
        padding: 35px;
    }
}

.moderate__text {
    min-height: 136px;
    font-family: 'Arial', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    margin: 0;
    padding: 0 128px 0 115px;
}

.moderate__text:last-child {
    margin-top: 35px;
}

@media screen and (max-width: 927px) {
    .moderate__text {
        padding-left: 0;
        padding-right: 0;
    }
}

.plan {
    max-width: 100%;
    padding-top: 115px;
    padding-bottom: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.plan-block {
    max-width: 1400px;
    height: 298px;
    margin: 0 100px;
    padding: 0 0 60px;
    display: flex;
}

.block-one {
    margin: 0;
    padding: 0;
    max-width: 560px;
    min-height: 298px;
}

.block-one__title {
    margin: 0 0 31px 0;
    padding: 0;
    height: 92px;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 128%;
    color: #214E41;
}

/*
.block-one__text {
    margin: 0;
    padding: 0;
    height: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02px;
    color: #757575;
}*/

.block-two {
    padding: 0;
    margin: 0 0 0 81px;
    width: 560px;
    height: 298px;
    border-radius: 0px;
    background-image: url(./images/covered-image.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.covered {
    margin: 0 100px;
    padding: 0;
    list-style: none;
    max-width: 1200px;
    min-height: 132px;
    display: flex;
    justify-content: space-between;
}

.covered__list {
    margin: 0;
    padding: 0;
    height: 132px;
    max-width: 262px;
    display: flex;
    flex-direction: column;
}

.covered__title {
    height: 78px;
    font-family: 'Arial', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    color: #F0A446;
    margin: 0;
    padding: 0;
}

.covered__text {
    height: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 169%;
    letter-spacing: 0.02px;
}

.play {
    max-width: 1200px;
    height: 500px;
    margin: 0 120px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.video {
    background-image: url(./images/play-image.png);
    background-repeat: no-repeat;
    background-position: inherit;
    max-width: 296px;
    min-height: 500px;
    bottom: 0.34px;
    border-radius: 0px;
    margin: 0 0 0 115px;
}

.video-text {
    margin: 0 21px 0 33px;
    padding: 68px 0 0;
    max-width: 545px;
    min-height: 500px;
}

.video-text__title {
    margin: 0 0 33px 0;
    padding: 0;
    height: 92px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 140%;
}

.video-text__subtitle {
    height: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    margin: 0 0 20px 0;
    padding: 0;
}

.admin {
    margin: 0;
    padding: 0;
    background-image: url(./images/administration.png);
    background-repeat: no-repeat;
    min-height: 522px;
    max-width: 1440px;
}

.admin-info {
    padding: 0;
    margin: 0 auto 0 120px;
}

.admin__info {
    margin: 0 87px;
    padding: 57px 0;
}

.admin__title {
    /*height: 92px;*/
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 128%;
    margin: 0 0 38px 0;
    padding: 0;
    width: 391px;
}

.text__subtitle {
    margin: 0 0 20px 0;
    padding: 0;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}