.information__maney {
    margin: 0 0 0 18px;
    padding: 0;
    width: 39px;
    height: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    text-align: center;
    color: #214E41;
}