.information__section {
    display: flex;
    max-width: 510px;
    height: 364px;
    position: relative;
}

@media screen and (max-width: 682px) {
    .information__section {
        width: 100%;
        min-height: max-content;
    }
}