.information__text {
    margin: 0 0 16px 0;
    padding: 0;
    height: 90px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02px;
    color: #757575;
}

/* @media screen and (max-width: 665px) {
    .information__text {
        margin-left: 30px;
    }
} */