.logo {
    background-image: url(../../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 75px;
    height: 22px;
}

@media screen and (max-width: 786px) {
    .logo {
        
    }
}