.information__plan-text {
    min-height: 36px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02px;
    border-bottom: 2px solid #214E41;
}