.first-frame__image {
    background-image: url(../../../images/Rectangle.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 720px;
    position: relative;
    background-size: cover;
}

@media screen and (max-width: 1279px) {
    .first-frame__image  {
        min-height: 580px;
    }
}

@media screen and (max-width: 786px) {
    .first-frame__image  {
        min-height: 480px;
    }
}