.first-frame__title {
    margin: 0 0 0 120px;
    padding: 161px 0 40px;
    max-width: 516px;
    height: 138px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: #214E41;
}

@media screen and (max-width: 786px) {
    .first-frame__title {
        padding-top: 20px;
        padding-bottom: 60px;
        margin-left: 90px;
        font-size: 30px;
        margin-right: 40px;
    }
}