.first-frame__text {
    margin: 0 0 0 120px;
    padding: 0 0 14px 0;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

@media screen and (max-width: 786px) {
    .first-frame__text {
        margin-left: 90px;
        font-size: 10px;
    }
}

@media screen and (max-width: 665px) {
    .first-frame__text {
        margin-left: 30px;
    }
}