.chart {
    /* max-width: 1200px;
    min-height: 432px; */
    padding: 168px 0 120px 0;
    margin: 0 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


@media screen and (max-width: 927px) {
    .chart {
        padding-top: 80px;
        padding-bottom: 40px;
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media screen and (max-width: 692px) {
    .chart {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
    }
}

@media screen and (max-width: 320px) {
    .chart {
        
    }
}