.choice-conteiner__list {
    max-width: 356px;
    height: 71px;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 550px) {
    .choice-conteiner__list {
        
    }
}