.information__rages {
    margin: 48px 0 0 0;
    position: absolute;
    padding: 0;
    /* text-align: end; */
    max-width: 237px;
    height: 22px;
    left: calc(50% - 237px/2 + 116.5px);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    text-align: right;
    color: #757575;
}

@media screen and (max-width: 540px) {
    .information__rages {
        text-align: left;
        min-height: 44px;
        margin-top: 0;
    }
}