.request {
    background-color: #214E41;
    border: none;
    border-radius: 5%;
    width: 137px;
    height: 40px;
}

@media screen and (max-width: 1100px) {
    .request  {
        /* height: 30px; */
    }
}