.choice {
    margin: -95px 120px -77px 120px;
    padding: 50px 0;
    max-width: 1200px;
    max-height: 171px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .choice {
        /* max-width: 1200px; */
        min-height: 171px;
    }
}

@media screen and (max-width: 1210px) {
    .choice {
       
    }
}