.information__diagrams {
    margin: 37px 0 0 21px;
    padding: 0;
    max-width: 235px;
    height: 364px;
    display: flex;
    align-items: end;
}


@media screen and (max-width: 678px) {
    .information__diagrams {
        flex-flow: row;
        margin-top: 0;
}
}